<div class="container">
        
  <header class="page-header">
    <h1>Kalkularor Mediatora <small><small>v0.2</small></small></h1>
  </header>

  <div class="content">
    {{outlet}}
  </div>

  <footer>
    <div class="row">
      <div class="col-xs-6">&copy;2016 - 
        <label>
          <a target="_blank" href="http://consensius.eu">Consensius &sect; Europejskie Centrum Mediacji</a>
        </label>
      </div>
      <div class="col-xs-6 text-right">Projekt i wykonanie - <label><a href="#">Edopi Software</a></label></div>
    </div>
  </footer>

</div>
