<div class="container">
        
  <header class="page-header">
    <h1>Kalkularor Mediatora</h1>
  </header>

  <div class="content">
    {{outlet}}
  </div>

  <footer>
    <div class="row">
      <div class="col-xs-3">Wersja <span>0.1-aplha</span></div>
      <div class="col-xs-6">&copy;2016 - Consensius &amp; Europejskie Centrum Mediacji</div>
      <div class="col-xs-3">Projekt i wykonanie - <label><a href="#">Edopi Software</a></label></div>
    </div>
  </footer>

</div>
